extends ../includes/main-template.pug
//-Variables
append config
  -pageTitle = 'Efra Rz'
  -empresaTitle = 'Desarrollo web en monterrey'
  -pageDescription = 'Efra-Rz Programador web independiente en Mty.N.L.-MX'
//- HEADER MENU Y BANNER
block contacto
  li.main-menu__item: a(href='/contacto.html').main-menu__link.main-menu__menu-active Contacto
//- CONTENIDO
block main
  // Start section banner
  include ../includes/sections/contacto-banner.pug
  // End section banner
  .ed-container.mb-2
    .ed-item.m-1-3
      .box
        div Dirección
        p Allende 314 Pte. Centro, Mty. N.L. MX. 64000
    .ed-item.m-1-3
      .box
        div Teléfono
        p: a(href="tel:8184602228") 8184602228
    .ed-item.m-1-3
      .box
        div Mail
        p: p: a(href="mailto:contacto@efra-rz.com") contacto@efra-rz.com
  .ed-container
    .ed-item
      .form-box
        #wufoo-z1k90t9s0z2sdci
          | Fill out my 
          a(href='https://efrix.wufoo.com/forms/z1k90t9s0z2sdci') online form
          | .
        script(type='text/javascript').
          var z1k90t9s0z2sdci;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'efrix',
          'formHash':'z1k90t9s0z2sdci',
          'autoResize':true,
          'height':'626',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z1k90t9s0z2sdci = new WufooForm();z1k90t9s0z2sdci.initialize(options);z1k90t9s0z2sdci.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
